swagger: "2.0"

info:
  title: Users API
  description: Provided access to User CRUD operations
  version: 0.0.1

host: learning.go.com
basePath: /v1
schemes:
  - http

paths:
  /users:
    get:
      summary: Returns a list of users.
      description: Endpoint for clients to fetch all the available users from the service
      produces:
        - application/json
      responses:
        200:
          description: A JSON array of user names
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
  /user/{userId}:
    get:
      summary: Returns a user based on the id
      description: Returns a user object that is stored based on the id passed in the API call
      produces:
        - application/json
      parameters:
        - name: userId
          in: path
          required: true
          type: string
      responses:
        200:
          description: User returned
          schema:
            $ref: '#/definitions/User'
    delete:
      summary: Delete a User
      produces:
        - application/json
      parameters:
        - name: userId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Deleted User
          schema:
            type: string
  /user:
    post:
      summary: Create a User
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: user
          required: true
          schema:
            $ref: '#/definitions/UserRequest'
      responses:
        201:
          description: User created Successfully
          schema:
            $ref: '#/definitions/User'

definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: Unique identifier for the user
      userName:
        type: string
        description: User's chosen userName
      email:
        type: string
        format: email
        description: User's email address
  UserRequest:
    type: object
    properties:
      userName:
        type: string
        description: User's chosen userName
      email:
        type: string
        format: email
        description: User's email address
